h1{
    font-size: 60px;
    color:#ffc425;
    text-align: center;
}
h2{ 
    font-size: 30px;
    color:#ffc425;
    text-align: left; 
    text-decoration: underline;
}
h3{
    font-size: 40px;
    color:#ffc425;
    text-align: center; 
    text-decoration: underline;
}
p{  
    font-size: 20px;
    text-align:left;
    color:#ffb61a;
     
}
p2{
    font-size: 30px;
    text-align:center;
    color: #ffc425;
    padding-bottom: 40px;
    margin:auto;
}
header{
    background-color:#003768;
    height:auto;

}
.footer{ 
    overflow: hidden;
    background-color: black;
    color:#ffc425;
    text-align: center;
    padding: 15px 32px;
    font-size: 20px;
    display: block;
}
body{
    background-color:#044E8F;
}
img{
    margin:20px;
}
.racket{
    float:right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float:center;
    border-right: #ffc425;
}
li a{
    color:#ffc425;
    display: block;
    padding: 15px 22px;
    text-align:center; 
    font-size:20px;
    background-color:black;
}
.active{
    background-color: #5D9EF6;
    color:black;
}
li a:hover:not(.active) {
    background-color: #ffc425;
    color:#003768;
}

.button{
    background-color: #5D9EF6;
    color: black;
    align-items: center;
    text-align:center;
    font-size:15px;
    border-radius: 50px;
    display: inline-block;
    padding: 15px 32px;
    margin-bottom: 10px;
    margin: 10px;
}
.button:hover{ 
    background-color:#ffc425;
    color:#003768;
    text-decoration: underline;
}
.wrapper{
    text-align: center;
}
.content_1{
    text-align: left;
    margin-bottom:10px;
    padding-right:50px;
}
.box1{
    text-align: left
}
.box2{
   text-align: left;
    
}
span{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}